.header {
    background-color: #3368A0;
    font-family: "Courier New", Courier, monospace;
    font-weight: 600;
    font-size: large;
}

.data-diri {
    background-color: #66A3BF;
}

.tentang-saya {
    background-color: #C8DFDB;
}

.media-sosial {
    background-color: #F2EFE7;
}

.website-kampus {
    background-color: #F2EFE7;
}