/* WARNA UTAMA */
:root {
    --background: #F7F6F2;
    --surface: #EFEDE7;

    --text: #18202A;
    --text-secondary: #69717C;

    --accent: #547792;
    --accent-dark: #3E5F78;

    --border: #DDDAD2;
    --white: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    color: var(--text);
}

/* Navbar */
.logo {
    color: var(--text);
}

.nav-menu a {
    color: var(--text-secondary);
}

.nav-menu a:hover {
    color: var(--accent);
}

/* Tulisan kecil */
.hello,
.section-label {
    color: var(--accent);
}

/* Nama */
.hero h1 {
    color: var(--text);
}

.hero h1 span {
    color: var(--accent);
}

.hero h2 {
    color: var(--text);
}

.description {
    color: var(--text-secondary);
}

/* Button */
.btn-primary {
    background: var(--text);
    color: var(--white);
}

.btn-primary:hover {
    background: var(--accent);
}

.btn-secondary {
    color: var(--text);
    border: 1px solid var(--border);
}

.btn-secondary:hover {
    border-color: var(--accent);
    color: var(--accent);
}

/* Background di belakang foto */
.photo-background {
    background: var(--accent);
}

/* Label foto */
.student-tag {
    background: var(--white);
    color: var(--text);

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
}

.student-tag span {
    color: var(--accent);
}

/* Garis section */
.about,
.education,
.contact,
footer {
    border-color: var(--border);
}

/* Nomor 01 */
.section-number {
    color: #DDDAD2;
}

/* Judul */
.section-content h2,
.education > h2,
.contact h2 {
    color: var(--text);
}

.section-content h2 span,
.education > h2 span,
.contact h2 span {
    color: var(--accent);
}

/* Paragraf */
.section-content > p:last-child,
.contact > p:not(.section-label) {
    color: var(--text-secondary);
}

/* Profile */
.profile-grid,
.profile-item {
    border-color: var(--border);
}

.profile-item p {
    color: #8B9198;
}

.profile-item h3 {
    color: var(--text);
}

/* Contact */
.contact-links {
    border-color: var(--border);
}

.contact-links a {
    color: var(--text);
    border-color: var(--border);
}

.contact-links a:hover {
    color: var(--accent);
}

/* Footer */
footer {
    color: var(--text-secondary);
}